body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f8fa;
  min-height: 100vh;
  position: relative;
}

.button-container {
  padding-top: 5px;
  padding-bottom: 50px;
}

.ReactModal__Overlay {
  z-index: 100;
}

.modal-header, .modal-footer {
  border: 0;
}

.add-artist-content td {
  padding-bottom: 10px;
}

.add-artist-content input {
  padding: 5px 10px;
}

.navbar-right {
  padding-right: 15px;
}